<div>
  <p>{{error}}</p>
  <h1>Iniciar sesión</h1>
  <form action="/login">
    <p>
      Email:
      <input type="email" name="email" id="">
    </p>
    <p>
      Password:
      <input type="password" name="password" id="">
    </p>
    <p>
      <input type="submit" value="Iniciar sesión">
    </p>
  </form>
</div>