<div class="formulario">
  <p>{{error}}</p>
  <h1>Iniciar sesión</h1>
  <form action="/login">
    <p>
      Email |
      <input type="email" name="email" id="">
    </p>
    <p>
      Contraseña | 
      <input type="password" name="password" id="">
    </p>
    <p>
      <input type="submit" value="Iniciar sesión" class="botonFormulario">
    </p>
  </form>
</div>