<div>
  <p>{{error}}</p>
  <h1>Signup</h1>
  <form action="/signup" method="POST">
  <p>
    Email:
    <input type="email" name="email" id="">
  </p>
  <p>
    Username:
    <input type="text" name="username" id="">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="">
  </p>
  <input type="submit" value="Registrate">
  </form>
  <p>Si ya tienes cuenta <a href="/login">inicia sesión</a></p>
</div>