<section class="contenedor-general centrar">
<div class="aboutUs contenedor-blanco">

<h1>¿Quiénes somos?</h1>

<div class="contenedor-nombres">
        <div class="nombre">
                <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png" alt="">
                <h2>Ady</h2>
                <p>
                        kjdnjkddnmcndm ,d c
                </p>
        </div>
        <div class="nombre">
                <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png" alt="">
                <h2>Eliot</h2>
                <p>
                        fnmdnmmf mnds fmn s
                </p>

        </div>
</div>
</div>

</section>