<section class="contenedor-general">
<div class="aboutUs">

<h1>Acerca de nosotros</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis odio a urna facilisis, in aliquam nunc laoreet. Aliquam id fringilla mauris, sit amet posuere dolor. Donec in semper mauris. Donec sed tempor turpis. Mauris nec nulla tellus. Nulla malesuada nibh in convallis tempus. Donec nulla lacus, porttitor in fermentum sed, finibus ac massa. Quisque dictum leo ut elit gravida, ac dapibus libero ultricies. Nam volutpat neque ex, vel interdum ex venenatis sit amet. Maecenas porta suscipit aliquet. Donec ante quam, faucibus non libero non, facilisis vehicula elit. Cras nisi quam, cursus et orci id, dapibus blandit diam.

        Aenean et purus dolor. Donec ut lorem a arcu dapibus placerat iaculis id massa. Curabitur lobortis elit eget fringilla accumsan. Nam ac nisl lectus. Sed imperdiet purus vitae nisi ultricies, quis feugiat neque volutpat. Integer finibus, dui sed tempor ornare, arcu metus ornare mauris, vel lobortis magna neque vel massa. Pellentesque interdum mollis vehicula. Donec gravida at elit non malesuada. Fusce in ornare velit, vel sodales dolor. Sed commodo condimentum nulla. Sed maximus lacinia erat a bibendum. Nulla consequat luctus gravida. Aliquam feugiat dolor non fringilla pharetra. Etiam non ultrices mi. Praesent ut cursus ligula.</p>

</div>

</section>