<section class="contenedor-general-listaC">
    <div class="lista-causas">
        <div class="texto-lista-causas">
            <h1>¿A qué causa deseas donar?</h1>

    {{!-- <form action="/causes" method="POST">
        <input type="text" name="search">
        <input type="submit" value="Buscar">
      </form> --}}

            {{#each cause}}
                <div class="cada-causa">
                <p>
                <a href="/cDetail/{{this._id}}">{{this.cause}}</a> | {{this.city}}
                por {{this.username}}
                </p>
              </div>
            {{/each}}
        </div>
    </div>
</section>
