<div>
<h1>This are the causes you can donate</h1>

 {{!-- <form action="/causes" method="POST">
    <input type="text" name="search">
    <input type="submit" value="Buscar">
  </form> --}}

{{#each cause}}
    <p>
      <a href="/cDetail/{{this._id}}">{{this.cause}}</a>
    </p>
  {{/each}}
</div>
