{{!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/aboutus">About us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/causes">Causes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/help">Help</a>
  </li>
</ul> --}}

{{!-- <h1>Butterfly</h1>
<p>Bienvenido a Butterfly el lugar donde podras lograr ayudar...</p> --}}

<body class="body">
    {{!-- <nav>
        <a  href="/aboutus">About us</a>
         <a  href="/causes">Causes</a>
        <a  href="/help">Help</a>
    </nav> --}}
<section class="contenedor general">
<section class="contenedor-inicio-animacion">
    <div class="inicio">
        <img src="/public/images/35647029073_fbcf9f699f_o (1).jpg" alt="" id="mariposa-inicio">
        <div>
            <div class="typewriter">
                <h2>El aleteo de las alas de una mariposa</h2>
            </div>
            <div class="typewriter">
                <h2>se puede sentir al otro lado del mundo.</h2>
            </div>
        </div>      
    </div>
</section>
<a href="#pag-2"> <i class="fas fa-angle-double-right icono"></i></a>
<section class="contenedor-inicio">
    <div class="pag-1" >
        <div class="texto-pg">
           <h3>¿Cómo <br>          ayudar?</h3>
            <p>En un momento en el que todos  podemos opinar y generar, es necesario empezar a reflexionar cómo eso puede ir más allá de unos simples posts. Cada quien aportando, <b> aleteo por aleteo.</b>
            </p>
            <img src="/public/images/butterfly.gif" alt="">
        </div>
       
    </div>  
</section>
<section class="contenedor-inicio">
        <div class="pag-2" id="pag-2">
                <img src="https://www.eleconomista.com.mx/__export/1537546703886/sites/eleconomista/img/2018/09/21/sinaloa_inundaciones_lluvias_01.jpg_1741123634.jpg" alt="" id="foto1-pag2">
                <img src="https://www.debate.com.mx/__export/1537559320950/sites/debate/img/2018/09/21/arroyo_navolato_inundaciones_sinaloa_x10x.jpeg_1902800913.jpeg" alt="" id="foto2-pag2">
                <div class="texto-pg pg2">
                  <a href="/cDetail/5badafe56c2ce71d750f9428"><h3>Sinaloa</h3></a>
                  <p>En las últimas semanas a causa del huracán Linda han habido lluvias torrenciales. Estas lluvias generaron inundaciones y afectaciones en municipios como Los Mochis, Ahome, Salvador Alvarado, Guasave y El Fuerte, por lo que los habitantes de las distintas regiones han tenido perdidas de todo tipo.</p>
              </div>
              <div class="quote">
                {{!-- <p> <strong>"</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis odio a urna facilisis, in aliquam nunc laoreet.
                <strong>"</strong>
                </p> --}}
                <a href="/paymode">Dona</a>
              </div>
             <i class="fas fa-angle-double-right icono"></i>
        </div>  
    </section>
</section>
