{{!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/aboutus">About us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/causes">Causes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/help">Help</a>
  </li>
</ul> --}}

{{!-- <h1>Butterfly</h1>
<p>Bienvenido a Butterfly el lugar donde podras lograr ayudar...</p> --}}

<body class="body">
    {{!-- <nav>
        <a  href="/aboutus">About us</a>
         <a  href="/causes">Causes</a>
        <a  href="/help">Help</a>
    </nav> --}}
<section class="contenedor general">
<section class="contenedor-inicio-animacion">
    <div class="inicio">
        <img src="/public/images/35647029073_fbcf9f699f_o (1).jpg" alt="" id="mariposa-inicio">
        <div>
            <div class="typewriter">
                <h2>El aleteo de las alas de una mariposa</h2>
            </div>
            <div class="typewriter">
                <h2>se puede sentir al otro lado del mundo.</h2>
            </div>
        </div>      
    </div>
</section>
 <i class="fas fa-angle-double-right icono"></i>
<section class="contenedor-inicio">
    <div class="pag-1">
        <div class="texto-pg">
           <h3>¿Cómo <br>          ayudar?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis odio a urna facilisis, in aliquam nunc laoreet. Aliquam id fringilla mauris, sit amet posuere dolor. Donec in semper mauris.
            </p>
            
        </div>
       
    </div>  
</section>
<section class="contenedor-inicio">
        <div class="pag-2">
                <img src="https://www.eleconomista.com.mx/__export/1537546703886/sites/eleconomista/img/2018/09/21/sinaloa_inundaciones_lluvias_01.jpg_1741123634.jpg" alt="">
                <img src="https://www.debate.com.mx/__export/1537559320950/sites/debate/img/2018/09/21/arroyo_navolato_inundaciones_sinaloa_x10x.jpeg_1902800913.jpeg" alt="">
                <div class="texto-pg pg2">
                  <h3>Sinaloa</h3>
                  <p>Mini descripción que hable acerca de la causa.</p>
              </div>
              <div class="quote">
                <p> <strong>"</strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis odio a urna facilisis, in aliquam nunc laoreet.
                <strong>"</strong>
                </p>
                <a href="#">Dona</a>
              </div>
             <i class="fas fa-angle-double-right icono"></i>
        </div>  
    </section>
</section>
