<section class="contenedor-general centrar">

<div class="contenedorDonacion">
  <div class="tipoDonacion">
    <h1>¿Cómo quieres donar?</h1>
    <div class="cardDonacion">
        <div class="divsDonacion">
          <i id="icono-amor" class="far fa-heart"></i>
          <h2>GGG</h2>
          <a href="#" onclick="history.go(-1)">Causa</a>
        </div>
        <div class="division"></div>
        <div class="divsDonacion">
          <i id="icono-dinero" class="fas fa-money-bill-wave"></i>
          <h2>GGG</h2>
          <div class="botones-paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Z3MUGZ7FR2RJ8">
          <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
          <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
          </form>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
