<section class="contenedor-xl">
  <h1>Create a cause</h1>
<div class="causa">

<div class="numero">
  <h1>Paso 1.</h1>
</div>
<div class="formulario ">
  <form action="/create" method="POST">
    <div id="step1">
      <p>
    Causa |
    <input type="text" name="cause" id="">
  </p>
  <p>
    Usuario |
    <input type="text" name="username" id="">
  </p>
  <p>
    Ciudad |
    <input type="text" name="city" id="">
  </p>
  <p>
    Problema |
    <input type="text" name="problem" id="">
  </p>
 <div id="btn2">
   <p>
    Descripcion del problema |
    <textarea name="description" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Meta |
    <input type="number" name="moGoal" id="">
  </p>
  <p>
    Plazo de recaudación |
    <input type="number" name="time" id="">
  </p>
  <p>
    Utilización del dinero |
    <textarea name="mUtil" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Sube una foto que describa a tu causa. <br>
  (recuerda que todos van a verla asi que escoje una gran foto.) |
    <input type="file" name="photosUrl" id="">
  </p>
  <p>
    <input type="submit" value="Crear formulario">
  </p>
 </div>
  <p>
    </div>
    <input type="submit" value="Crear causa">
  </p>
  {{!-- <p>
    Descripción |
    <br>
    <textarea name="description" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Meta |
    <input type="number" name="goal" id="">
  </p>
  <p>
    ¿Cómo se va a usar el dinero?
    <br>
    <textarea name="utilization" id="" cols="5" rows="10"></textarea>
  </p>
  <p>
    ¿En cuántos días se debe reunir el dinero?
    <input type="number" name="days" id="">
  </p>
  <p>
    ¿Cuáles serían las recompensas?
    <input type="text" name="appreciation" id="">
  </p>
  <p>
    <input type="submit" value="Crear formulario">
  </p> --}}
  </form>
</div>
</div>
</section>