
<h1>Create a cause</h1>

<div>
  <form action="/create">
  <p>
    Cause:
    <input type="text" name="cause" id="">
  </p>
  <p>
    User:
    <input type="text" name="user" id="">
  </p>
  <p>
    City:
    <input type="text" name="city" id="">
  </p>
  <p>
    Problem:
    <input type="text" name="problem" id="">
  </p>
  <p>
    Description:
    <textarea name="description" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Goal:
    <input type="number" name="goal" id="">
  </p>
  <p>
    Utilization:
    <textarea name="utilization" id="" cols="5" rows="10"></textarea>
  </p>
  <p>
    Days:
    <input type="number" name="days" id="">
  </p>
  <p>
    Appreciation:
    <input type="text" name="appreciation" id="">
  </p>
  <p>
    <input type="submit" value="Crear formulario">
  </p>
  </form>
</div>