<div class="contenedor-general">


  <div class="contenedor-formulario centrar">
    <div class="formulario">
        <h1>Edita tu perfil</h1>
    <form action="/{{this.username}}/edit" method="post" enctype="multipart/form-data">

    <p>
      <label for="username">Nombre de Usuario |</label>
      <input type="text" name="username" id="" value="{{username}}">
    </p>

    <p>
      <label for="email">Correo electronico |</label>
      <input type="email" name="email" id="" value="{{email}}">
    </p>

    <input type="file" name="photoURL" >
    <br>
    {{!-- {{#if password}}
      <p>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password">
      </p>
    {{/if}} --}}
      <p><input type="submit" value="Edita tu perfil" class="botonFormulario"></p>
    </form>
    </div>
  </div>
</div>