<div class="perfil centrar contenedor-columna">




<h1>¡Bienvenido {{this.username}}!</h1>
<div class="contenedor-blanco-user">
    <div class="card">
        <img src="https://ichef.bbci.co.uk/images/ic/960x540/p05341jk.jpg" alt="">
      <div class="division"></div>
      <div class="texto-card">
          <h4 class="titulito">Causas que apoyaste</h4>
            <ul>
              <li>
                jsnnjdnknnd
              </li>
            </ul>
          <h4 class="titulito">Causas que necesitas apoyo </h4>
          <ul>
              <li>
                nfmd fn nfmnmf 
              </li>
            </ul>

          <h3><a href="/create">Crear causa</a></h3>
      </div>
    </div>
</div>
{{!-- <h3><a href="/create">Create cause</a></h3> --}}

</div>