<div class="perfil centrar contenedor-columna">




<h1>¡Hola {{this.username}}!</h1>
<div class="contenedor-blanco-user">
    <div class="card">
      <div class="div1Perfil">
        <img src="{{this.photoURL}}" alt="">
        <h3><a href="/:username/edit">Editar perfil</a></h3>

        </div>
      <div class="division"></div>
      <div class="texto-card">
          <h4 class="titulito">Causas que apoyaste</h4>
            <ul>
              <li>
                 <a href="/cDetail/5badafe56c2ce71d750f9428"> Sinaloa</a> 
              </li>
            </ul>
          <h4 class="titulito">Causas que necesitas apoyo </h4>
          <ul>
              <li>
                <a href="/cDetail/5badafe56c2ce71d750f9428"> Sinaloa</a> 
              </li>
            </ul>

          <h3><a href="/create">Crear causa</a></h3>
      </div>
    </div>
</div>


</div>