<section class="contenedor-xl">
  <h1>Datos Primordiales</h1>
<div class="causa">

<div class="numero">
</div>
<div class="formulario ">
  <form action="/step2/{{id}}" method="POST" >
  <p>
    Descripcion del problema |
    <textarea name="description" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Meta |
    <input type="number" name="moGoal" id="">
  </p>
  <p>
    Plazo de recaudación |
    <input type="number" name="time" id="">
  </p>
  <p>
    Utilización del dinero |
    <textarea name="mUtil" id="" cols="30" rows="5"></textarea>
  </p>
  {{!-- <p>
    Sube una foto que describa a tu causa. <br>
  (recuerda que todos van a verla asi que escoje una gran foto.) |
    <input type="file" name="photosUrl" id="">
  </p> --}}
  <p>
    <input type="submit" value="Continuar formulario">
  </p>
  </form>
</div>
</div>
</section>