<section class="contenedor-xl">
<h1>Datos de tu cuenta bancaria</h1>
<div class="causa">

<div class="numero">
</div>
<div class="formulario ">
  <form action="/step3/{{id}}" method="POST" >
  <p>
     |
    <textarea name="description" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    Meta |
    <input type="number" name="moGoal" id="">
  </p>
  <p>
    Plazo de recaudación |
    <input type="number" name="time" id="">
  </p>
  <p>
    Utilización del dinero |
    <textarea name="mUtil" id="" cols="30" rows="5"></textarea>
  </p>
  <p>
    <input type="submit" value="Continuar formulario">
  </p>
  </form>
</div>
</div>
</section>