<section class="contenedor-xl">
<h1>Datos de tu identidad</h1>
<section>
  <h5>Requisitos de elegibilidad</h5>
<p>Para iniciar un proyecto en Kickstarter en México, es necesario que cumplas con los siguientes requisitos:
</p> <br>
<ul>
  <li>Tienes una edad mínima de 18 años.
</li>
<li>Eres residente permanente de México.
</li>
<li>
  Estás creando un proyecto bajo tu nombre o en representación de una entidad legal con la cual estás afiliado/a.
</li>
<li>Tienes una cuenta bancaria, una dirección y una identificación emitida por el gobierno de México.
</li>
<li>Si tú llevas el proyecto como individuo, la cuenta bancaria asociada con éste tiene que estar a tu nombre, es decir, la persona cuya identidad haya sido identificada para el proyecto.
</li>
<li>Tienes una tarjeta de crédito o débito.
</li>
</ul>
</section>
<div class="causa">

<div class="numero">
  <h1>Paso 3.</h1>
</div>
<div class="formulario ">
  <form action="/step3/{{id}}" method="POST" >
  <p>
    Tu nombre |
    <input type="text" name="nombre" id="" placeholder="nombre">
    <input type="text" name="apellidop" id="" placeholder="apellido paterno">
    <input type="text" name="apellidom" id="" placeholder="apellido materno">
  </p>
  <p>
    Fecha de nacimiento |
    <input type="date" name="fnacimiento" id="">
  </p>
  <p>
    Domicilio |
    <input type="text" name="callen" id="" placeholder="calle y número">
    <input type="text" name="numin" id="" placeholder="número interior">
    <input type="text" name="ciudad" id="" placeholder="ciudad">
    <input type="text" name="estado" id="" placeholder="estado">
    <input type="number" name="zip" id="" placeholder="código postal">
  </p>
  <p>
    RFC |
    <input type="text" name="rfc" id="" placeholder="DAXR870101XYZ">
  </p>
  <p>
    <input type="submit" value="continuar">
  </p>
  </form>
</div>
</div>
</section>