<section class="contenedor-xl">
<h1>Datos de tu cuenta bancaria</h1>
<div class="causa">

<div class="numero">
</div>
<div class="formulario ">
  <form action="/step4/{{id}}" method="POST" >
  
  </form>
</div>
</div>
</section>